.header {
	height: 50px;
}

input {
	border: none;
	outline: none;
	background-image: linear-gradient(white, grey);
}

.title{
	text-align: center;
}

.description {
  	padding: 10px;
  	border: 5px lightblue solid;
  	margin: 20px;
}

.upload {
	padding: 10px;
	border: 5px lightblue solid;
	margin: 20px;
	text-align: center;
}

.questionsForm {
	padding: 10px;
	border: 5px lightblue solid;
	margin: 20px;
	justify-content: 'space-between';
}

.uploadFile {
	text-align: center;
	justify-content: 'space-between';
}

.descriptionTitle {
	text-align: left;
}

.transpose {
	justify-content: 'space-between';
}

.upButton {

}

.downButton {
	
}

.submit {
	color: white;
	background: blue;
	font-size: 16px;
}